<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dashboard Duit</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">

    <meta property="og:title" content="Dashboard Duit V2 - Money Management">
    <meta property="og:description" content="Catat pemasukan, pengeluaran, transfer antar dompet, dan pantau target tabunganmu dengan asisten AI pintar!">
    
    <meta property="og:image" content="https://money-management-rho-sand.vercel.app/static/img/banner.jpg">
    <meta property="og:url" content="https://money-management-rho-sand.vercel.app/">
    <meta property="og:type" content="website">
</head>
<body>
    <!-- OVERLAY LOADING -->
    <div class="loader-overlay" id="loaderOverlay">
        <div class="loader-emoji">🔐</div>
        <div class="loader-text" id="loaderText">Loading...</div>
    </div>

    <div class="login-card">
        <h2>🔒 Login Dashboard</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        
        <form action="/login" method="POST" onsubmit="tampilkanLoader('Membuka Brankas Rahasiamu... 🚀')">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Masuk</button>
        </form>
        
        <a href="/lupa_password" class="link-lupa">Lupa Password?</a>
        <a href="/register" class="link-bawah">Belum punya akun? Daftar di sini</a>
    </div>

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>